<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Edit User with ID {{this.user['id']}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <form action="" [formGroup] = "editForm" (ngSubmit)="handleSubmit()">
      <ion-list>
        <ion-item>
          <ion-input
            label="First Name"
            formControlName="firstName"
            [placeholder]="this.user.firstName"
          />
        </ion-item>
        <ion-item>
          <ion-input
            label="Last Name"
            formControlName="lastName"
            [placeholder]="this.user.lastName"
          />
        </ion-item>
        <ion-item>
          <ion-input
            label="Username"
            formControlName="username"
            [placeholder]="this.user.username"
          />
        </ion-item>
        <ion-item>
          <ion-input
            label="Address"
            formControlName="address"
            [placeholder]="this.user.address.address"
          />
        </ion-item>
        <ion-item>
          <ion-input
            label="State Code"
            formControlName="stateCode"
            [placeholder]="this.user.address.stateCode"
          />
        </ion-item>
        <ion-item>
          <ion-input
            label="City"
            formControlName="city"
            [placeholder]="this.user.address.city"
          />
        </ion-item>
        <ion-item>
          <ion-input
            label="Email"
            formControlName="email"
            [placeholder]="this.user.email"
          />
        </ion-item>
        <ion-item>
          <ion-input
            label="University"
            formControlName="university"
            [placeholder]="this.user.university"
          />
        </ion-item>
        <ion-item>
          <ion-input
            label="Company Name"
            formControlName="compName"
            [placeholder]="this.user.company.name"
          />
        </ion-item>
        <ion-item>
          <ion-input
            label="Company Department"
            formControlName="compDep"
            [placeholder]="this.user.company.department"
          />
        </ion-item>
        <ion-item>
          <ion-input
            label="Company Title"
            formControlName="compTitle"
            [placeholder]="this.user.company.title"
          />
        </ion-item>
      </ion-list>
      <ion-button color="medium" fill="solid" size="full" type="submit">Edit</ion-button>
      <ion-button color="medium" fill="black" size="full" (click)="location.back()">Cancel</ion-button>
    </form>
  </ion-card>
</ion-content>
