span {
  text-decoration: underline;
}

h4, h5 {
  text-align: center;
}
#content {
  margin-top: 25vh;
  align-items: center;
  display: flex;
  flex-direction: column;
}
h6 {
  text-align: center;
}
#result {

}
