<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" style="width: 0%">
      <ion-content>
        <ion-list>
          <ion-list-header>Inbox</ion-list-header>
          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" routerLink="/"><ion-label>Home</ion-label></ion-item>
            <ion-item routerDirection="root" routerLink="/dashboard"><ion-label>Profile</ion-label></ion-item>
            <ion-item routerDirection="root" routerLink="/change-password"><ion-label>Change Password</ion-label></ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>

  </ion-split-pane>
</ion-app>
