<ion-card style="display: flex; flex-direction: column; align-items: center;">
  <ion-card style="text-align: center; width: 45vw;">
    <ion-card-header>
      <ion-card-title>Change Password</ion-card-title>
      <ion-card-subtitle>Enter below your credentials</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <form action="" [formGroup] = "forgotPasswordForm" (ngSubmit)="forgotPass()">
        <ion-input label="Type your old password" required="true" labelPlacement="floating" type="password" placeholder="Password" formControlName = "oldpass"/>
        <ion-input label="Type your new password" required="true" labelPlacement="floating" type="password" placeholder="Password" formControlName = "newpass"/>
        <ion-input label="Retype your new password" required="true" labelPlacement="floating" type="password" placeholder="Confirmation Password" formControlName = "confpass"/>
        <ion-button type="submit" fill="outline">Send</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-card>
