<ion-card style="text-align: center">
  <ion-card-header>
    <ion-card-title>Forgot Password</ion-card-title>
    <ion-card-subtitle>Enter below your credentials</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <form action="" [formGroup] = "forgotPasswordForm" (ngSubmit)="forgotPass()">
      <ion-input label="Type your email for reset" required="true" labelPlacement="floating" type="text" placeholder="Email" formControlName = "email"/>
      <ion-button type="submit" fill="outline">Send</ion-button>
    </form>
  </ion-card-content>
</ion-card>
