<div class="main-content" id="main-content" style="height: 100%;">
  <ion-header>
    <ion-toolbar>
      <ion-title>Dashboard</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding" style="height: 100%">
    <ion-card class="ion-text-center ion-margin" style="height: 100%;">
      <ion-card-header>
        <ion-card-title>Welcome {{ data?.firstName || 'Guest' }}</ion-card-title>
        <ion-card-subtitle>Logged in as {{ data?.username }}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Here's a small text description for the card content. Nothing more, nothing less.
      </ion-card-content>

      <ion-button expand="full" color="danger" (click)="logout()">Logout</ion-button>
    </ion-card>
  </ion-content>
</div>
