<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" style="color: white;">hme</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row>
      <ion-input label="Enter name or address" [(ngModel)]="searchQuery" type="text" maxlength="65vw"></ion-input>
      <ion-button (click)="handleSearch()">Search</ion-button>
    </ion-row>
    @for (user of this.users; track user.id + " - " + $index) {
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{user.firstName}} {{user.lastName}}</ion-card-title>
          <ion-card-subtitle>{{user.age}}, &#64;{{user.username}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <span *ngIf="user.isMale">He</span><span *ngIf="!user.isMale">She</span> has a {{user.hair.type}} {{user.hair.color}} hair and <span *ngIf="user.isMale">he</span> <span *ngIf="!user.isMale">she</span> lives in {{user.address.address}}, {{user.address.city}}, {{user.address.stateCode}}
        </ion-card-content>
      </ion-card>
    } @empty {
      <p>No users found</p>
    }
  </ion-grid>
</ion-content>

