<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" style="color: white;">hme</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-searchbar placeholder="Enter name or address" (ionInput)="timeOutSearch()" [(ngModel)]="searchQuery"></ion-searchbar>
    @for (user of this.users; track user.id + " - " + $index) {
      <ion-card style="cursor: pointer;" [routerLink]="'/user/' + String(user.id)">
        <ion-card-header>
          <ion-card-title>{{user.firstName}} {{user.lastName}}</ion-card-title>
          <ion-card-subtitle>{{user.age}}, &#64;{{user.username}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <span>{{user.isMale | gender}}</span> has a {{user.hair.type}} {{user.hair.color}} hair and <span>{{user.isMale | gender | lowercase}}</span> lives in {{user.address.address}}, {{user.address.city}}, {{user.address.stateCode}}
        </ion-card-content>
      </ion-card>
    } @empty {
      <p>No users found</p>
    }
  </ion-grid>
</ion-content>

